.footer-fixed-bottom{
	padding: 0;
	margin: 0;
}

.paleta1{
	background-color: #212a85;
}

.paleta1-text{
	text-decoration-color: red;
}

.header-icon{
	height: 100px;
	margin:0;
	padding: 0;}

.header{
	padding-top: auto;
	padding-bottom: auto;
}