
#cabecera img {
	width: 19%;
	height: 10%;
}

#cabecera {
	background-color: #212a85;
	display: inline-flex;
	width: 100%; 
}

html, body {
        height: 100%;
		margin:0;
		padding: 0;
		background-color: #D5DBF0;
      }

nav ul{
	display: inline-flex;
	list-style: none;
}

a:link{
	color: #ece242;
}

a:visited{
	color: #ece242;
}

a:hover{
	color: white;
}

#cabecera nav{
	margin-top: auto;
	margin-bottom: auto;
}

#cabecera nav ul li{
	margin-left: 25pt;
	margin-right: 25pt;
}

form[name="buscar"]{
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}

form[name="buscar"] label{
	color: #ece242;
}

#footer {
	background-color: #212a85;
	width: 100%; 
}

#footer address{
	color: #ece242; 
}

#cabecera nav ul li:hover{
	border-radius: 1pt;
	color: white;
}


/**ESTO ES PARA DONACIONES**/
#map {
        height: 400px;
        width: 500px;
      }

.element{
	display: inline-flex;

}

form[name="consultas"] > *{
	display: block;

}

