#cabecera img {
	width: 19%;
	height: 10%;
}

#cabecera {
	background-color: #212a85;
	display: inline-flex;
	width: 100%; 
}

nav ul{
	display: inline-flex;
	list-style: none;
}

a:link{
	color: #ece242;
}

a:visited{
	color: #ece242;
}

a:hover{
	color: white;
	font-size: 20px;
}

#cabecera nav{
	margin-top: auto;
	margin-bottom: auto;
}

#cabecera nav ul li{
	margin-left: 25pt;
	margin-right: 25pt;
}

form[name="buscar"]{
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
}

form[name="buscar"] label{
	color: #ece242;
}

#footer {
	background-color: #212a85;
	width: 100%; 
}

#footer address{
	color: #ece242; 
}

#cabecera nav ul li:hover{
	background-color: #6A74B2;
	border-radius: 4pt;
}

